body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    background-image: url("book.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position:relative;
}
#signup, #login{
    margin-top: 180px;
}
#login{
    display: none;
}

/* #error{
    width:500px;
    height: 60px;
    display:none;
} */